<!doctype html>
<html lang="zh-CN">
  <head>
    {{ partial "seo.html" . }}
    {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    {{ with site.Params.ga4Id }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ . }}');
      </script>
    {{ end }}
  </head>
  <body>
    <a class="skip-link" href="#main-content">跳到正文</a>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  </body>
</html>

